* {
	box-sizing: border-box;
}
html {
	background-color: lightgray;
	color: white;
	text-align: center;
	font-family: Inconsolata;
}
.page-title {
	color: black;
	font-size: 300%;
	text-transform: uppercase;
}
.squares {
	margin: 0 auto;
	display: flex;
	border: 2px solid darkolivegreen;
	flex-flow: row wrap;
	width: 50vw;
	justify-content: space-between;
}

.square {
	font-size: 4em;
	background-color: darkred;
	margin: 20px;
	padding: 20px;
	width: 20%;
	height: 200px;
	line-height: calc(200px - 3rem);
	box-shadow: 3px 3px 10px black;
}

.blueSquare {
	background-color: dodgerblue;
}

.fit-image {
	width: 20%;
	margin: 20px;
	box-shadow: 3px 3px 10px black;
	background-color: white;
}
