* {
	box-sizing: border-box;
}

.registry {
	width: 40vw;
	margin: 0 auto;
	border: 2px solid salmon;
}

fieldset {
	margin: 40px 0;
}

.page-title {
	text-align: center;
}

input[type='text'],
input[type='email'],
select,
label[for='where-from'] {
	display: block;
}

.send-btn {
	padding: 5px 30px;
}
